html{
    font-size: 100%;
    line-height: 3;
}
.container {
    padding: 10px;
}
.beforelogin {
    text-align: center;
}
.video1home {
    text-align: center;
}

.video2home {
    text-align: center;
}
.userinfoedit {
    margin-top: 20px;

}
