.beforeloginhome {
    //
}
/* body {
        font-size: 120%;
        background-image: url("images/textbook2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y:120px ;
    }
    p{
        padding-top: 20px;
        line-height: 160%;
    } */
